#office-holder,
#floor-holder,
#room-holder
{
    min-width:33%;
    float:left;
    border:1px solid black;
    position:relative;
    background-color: #eee;
}
#office-holder .room,
#office-holder .floor,
#floor-holder .room
{
    display:none;
}
.country,
.room-quantity,
.capacity{
    float:right;
    padding-right:40px;
}
.sort-offices,
.sort-floors,
.sort-rooms,
.sort{
    position:absolute;
    right:10px;
    top:10px;
}
.office-container{
    padding-top:10px;
    min-height:30px;
    font-size: 10px;
    border-top:1px solid #000;
}

.country i{
    padding-left:20px;
}

